---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=https://github.com/osama00112" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirecting to Github</title>
</head>
<body>
  <p>If you are not redirected automatically, follow this <a href="https://github.com/osama00112">link to GitHub</a>.</p>
</body>
</html>


<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

